@font-face {
    font-family: Mali;
    src: url("fonts/Mali/Mali-Bold.ttf");
    src: url("fonts/Mali/Mali-BoldItalic.ttf");
    src: url("fonts/Mali/Mali-Medium.ttf");

    font-family: Raleway;
    src: url("fonts/Raleway/Raleway-Black.ttf");
    src: url("fonts/Raleway/Raleway-BoldItalic.ttf");
    src: url("fonts/Raleway/Raleway-Medium.ttf");

    font-family: K2D;
    src: url("fonts/K2D/K2D-Bold.ttf");
    src: url("fonts/K2D/K2D-BoldItalic.ttf");
    src: url("fonts/K2D/K2D-Medium.ttf");
}

header {
    background: darkblue;
    width: 100%;
    height: 150px;
}

main {
    width: 80%;
    margin-left: 200px;

}

.menu {
    background: white;
    width: auto;
    border: 2px solid black;
    margin: 10px;
    padding-right: 10px;
    position: fixed;
}

li {
    margin: 5px;
}

.link:target {
    background: green;
    color: red;
}

section {
    width: 950px;
    height: 600px;
    background: burlywood;
    border: 2px solid black;
    margin: 0 auto;
    padding: 5px;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    counter-reset: col;
}

section .col {
    width: 200px;
    height: 100%;
    background: blue;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    counter-increment: col;
    counter-reset: cell;
}

section .col .cell {
    width: 100%;
    height: 300px;
    background: chartreuse;
    margin: 0 0 5px;
    counter-increment: cell;
}

section .col .cell::before {
    content: "Стовбсчик-" counter(col) " Клітинка-" counter(cell);
}

.textanim {
    width: 50%;
    margin: 0 auto;
}

.textanim p {
    position: relative;
}

.textanim p::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #80200a;
    opacity: 0.5;
}

.textanim p:nth-child(odd):hover::before {
    left: -50%;
    background: linear-gradient(to left, #80200a, white);
}

.textanim p:nth-child(even):hover::before {
    right: -50%;
    background: linear-gradient(to right, #80200a, white);
}

h1 {
    color: red;
    size: 20px;
    margin-left: 300px;
    font-family: Mali, cursive;
}

h2 {
    font-family: Raleway, monospace;
    background: aquamarine;
    size: 17px;
    margin: 50px;
}

.part1 {
    font-family: K2D, sans-serif;
    margin: 30px;
}

.part2 {
    font-family: K2D, serif;
    font-size: 17px;
    margin-top: 50px;
}

.img1 {
    margin: 30px 0px 30px;
}

.form1 {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: -10px -10px 10px 10px;
    border-radius: 20px;
    background: cadetblue;
}

input {
    background: chartreuse;
    box-shadow: 8px 7px 13px 3px chartreuse;
}
input:focus {
   border: 5px solid green;

}
textarea {
    background: yellow;
}
textarea:focus {
    border: 5px solid red;
}
footer {
    width: 100%;
    background: darkblue;
    color: white;
    padding-bottom: 5px;
    padding-top: 20px;
    margin-bottom: 50px;
}

