@font-face {
    font-family: Mali;
    src: url("fonts/Mali/Mali-Bold.ttf");
    src: url("fonts/Mali/Mali-BoldItalic.ttf");
    src: url("fonts/Mali/Mali-Medium.ttf");

    font-family: Raleway;
    src: url("fonts/Raleway/Raleway-Black.ttf");
    src: url("fonts/Raleway/Raleway-BoldItalic.ttf");
    src: url("fonts/Raleway/Raleway-Medium.ttf");
}

h1 {
    color: red;
    size: 20px;
    margin-left: 400px;
    font-family: Mali, cursive ;
}

h2 {
    font-family: Raleway, monospace;
    background: aquamarine;
    size: 17px;
    margin: 50px;
}
.part1 {
    margin: 30px;
}

mark {
    background: cadetblue;
    color: brown;
}

.part2 {
    color: red;
    width: 500px;
}

.img1 {
    margin: 0px 100px 30px;
}

.form1 {
    margin-top: 50px;
    margin-left: 120px;
    margin-bottom: 50px;
}

